body{
    font: 14px, 'Century Gothic', 'Futura', 'snas-serif';
    margin: 20px;
}

.status{
    margin-bottom: 20px;
}

.square{
    background: #fff;
    float: left;
    font-size: 24px;
    font-weight: bold;
    height: 80px;
    width: 80px;
}

.square:focus{
    outline: none;
    background: #ddd;
}

.game{
    display: flex;
}